body {
	font-size: 16px;
	font-family: sans-serif;
}

/*HEADER*/
#header-nav {
	background-color: #7c2939;
	height: 65px;
	border-radius: 0;
	border: 0;
}

#header-nav .container {
	width: 100%;
	float: left;
}

.navbar-brand {
	margin-bottom: 0;
}

.navbar-brand h1 {
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-header button.navbar-toggle {
	border: 1px solid black;
  	clear: both;
  	margin-top: -30px;
}

.navbar-header button.navbar-toggle a:hover {
	background: #E7E7E7;
}

#myNavbar {
	border: 0;
}

#nav-list {
	margin-top: 0;
	background-color: #dda52c;
}

#nav-list a:hover {
  	background: #E7E7E7;
}

#nav-list li {
	border: 1px solid black;
}
/*END HEADER*/

/*MAIN CONTENT*/
#main-content {
	width: 100%;
}

#home-text div {
	background-color: #969393;
	border: 10px solid white;
}

/*END MAIN CONTENT*/